/**
 * White theme for reveal.js.
 */
/* @import url(../../lib/font/source-sans-pro/source-sans-pro.css); */
@import url(../../lib/font/Lato-Regular/Lato-Regular.css);

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background:  	#fafafa;
  background-color: #fafafa; }

.reveal {
  font-family: "Lato-Regular", Helvetica, sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #384357; /*This is the one i always used*/
  /* color: #198DC9; /*new october 2018*/

}

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  /* color: #384357; */
  /* color: #198DC9;  cool light blue */
  color: #0070c0ff;  /*itasca blue*/
  /* color: #343b49; */
  font-family: "Lato-Regular", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-transform: uppercase; */
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.4em; }

.reveal h2 {
  font-size: 1.2em; }

.reveal h3 {
  font-size: 1em; }

.reveal h4 {
  font-size: 0.8em; }

.reveal h5 {
  font-size: 0.6em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/

.reveal .slide-number {
  font-size: 0.8em;
  background-color: #ffffff;
  /* color:red; */
}

.reveal figcaption {
  font-family: "Lato-Regular", Helvetica, sans-serif;
  font-size: 0.5em;
}

.reveal p {
  margin: 10px 0;
  line-height: 1.3;
  font-size: 0.7em;}

.reveal.names {
  font-size: 0.8em;
  color: black;
  margin: 5px 0;}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  /* float:left;
  clear: both; */
  margin: 0.0em 0 0 0.7em;
  line-height:180%;
  font-size: 0.7em;
}

/* Nested ul */

.reveal ul ul, .reveal ul ol {
  font-size:0.9em;
  padding-left: 0px;  
}

.reveal li{
  color:#198DC9;
  margin: 1em; /*Spacing between bulletss*/
}

.reveal li span{
  color:#384357;
}

/* Original settings in case you need them */
.reveal ol.original,
.reveal dl.original,
.reveal ul.original {
  display: inline-block;
  text-align: left;
  margin: 0em 0 0 1em;
  line-height:170%}

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  /* border-bottom: 1px solid; */
 }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/

/* For logo images */
.reveal div.logoDiv {
  margin-bottom: 100px;
  /* background: pink; */
}

.reveal section img.logo {
  /* position: relative; */
  display:inline-block;
  border: 0;
  margin: 20px 20px;
}

/* For regular figures (deprecated)*/
.reveal .img-reg div{
  float: none;
  position: relative;
  display: inline-block;

}

.reveal .img-reg img {
  width: 15rem;
  margin-top: 40px;
  border: 0;
}


/* Using "figure" !!!!!!!!!!!!!!!!*/
.reveal .inline {
  display: inline-block;
  /* background: pink; */
  margin: 0rem 0rem 1rem 0rem;
  /* font-size: 0.6em; */
}

.reveal .inline img {
  width: 15rem;
  margin-top: 10px;
  border: 0;
}






/* Original CSS */
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  /* border: 4px solid #222; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }


/*********************************************
 * VIDEOS
 *********************************************/
/* Crop videos */

.reveal .cropVideo {
  width: 250px;
  overflow:hidden;
  display:block;
  /* height:360; */
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
